<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Room Image Viewer</title>

		<style>
			.roomName {
					text-align: right;
					font-size: 2em;
					padding-right: 20px;
			}

			.wbImage {
					float: left;
					margin: 20px;
					box-shadow: 5px 5px 5px #888888;
			}
			
			.topBar {
					background-color: #40a8c4;
					color: #bcdbdf;
			}

			#displayLarge {
					width: 900px;
					background-color: white;
					position: absolute;
					top: 10px;
					left: 20px;
					border: 1px solid black;
					padding: 10px;
					box-shadow: 5px 5px 5px #888888
			}
			
		</style>
		

    <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
   
		<div class="row topBar">
			<div class="col-md-12">
				<div class=roomName>{{roomName}}</div>
			</div>
		</div>

		<div id=displayLarge></div>
		
		<div id=listRooms>
	  </div>
		
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<script>
	$.getJSON("/listRoom/{{roomName}}", function(d) {
			html = "";
			d.forEach( function(e) {
					console.log(e);
					html += "<div onclick=show('" + e + "') class=wbImage><img src=https://s3-us-west-2.amazonaws.com/whiteboardscan/" + e + " width=400></div>"; });
			$("#listRooms").html(html);
	});
	
</script>

<script>
	$("#displayLarge").hide();
	function show(a) {
			$("#displayLarge").show();
			$("#displayLarge").html("<img onclick=hide('" + a + "') src=https://s3-us-west-2.amazonaws.com/whiteboardscan/" + a  + " width=100%>");
			console.log(a);
	}

	function hide(a) {
			$("#displayLarge").hide();
			console.log("hide called");
	}
	
</script>
